<h1>New addition</h1>

<form action="/wizard_add">
  <label for="first_field">Add this:</label>
  <input type="text" id="first_field" name="first_num">

  <label for="second_field">to this:</label>
  <input type="text" id="second_field" name="second_num">

  <button>Add!</button>

  <p>
  Your previous addition was: <%= cookies.fetch(:addition_first_num) %>
  +
  <%= cookies.fetch(:addition_second_num) %>
  =
  <%= cookies.fetch(:addition_result) %>
  </p>
</form>
